
    *{box-sizing: border-box;
        list-style: none;
        margin: 0;
        background-color: rgb(255, 255, 255);
          }

.background{background-image: url(file:///C:/Users/user/OneDrive/Desktop/BOOKS/GOT%20[1-5]/game-of-thrones-legends-release-date-what-we-know-so-far.jpg); width:100%;height: 500px;
    background-size: 100%;
 background-repeat: no-repeat;
    image-resolution: 4000;
    
}
.movies a{
    display: flexbox;
   color: white;
   font-size: 0.6cm;
   padding: 10px 125px;
   text-decoration: none;
   background-color: #285AEB;
 }

 h1{ padding:10px;
    font-family: "algerian";
    
color: rgb(0, 0, 0);
font-size: 0.5in;

}

h3 a{
text-decoration: none;    
font-family: "algerian";
color: rgb(0, 0, 0);
font-size: 0.35in;
text-align: center;
}

h4,h3{ text-decoration: none;
    font-family: "algerian";
    color: rgb(0, 0, 0);
font-size: 0.35in;
text-align: center;
}

ol{
    font-family: "algerian";
    font-size: 0.25in;
}
h6{
    padding:10px;
    font-family: "algerian";
    color: rgb(0, 0, 0);
font-size: 0.2in;
text-align: center;
}
h5{
    padding:30px 20px;
    font-family: "algerian";

color: rgb(211, 117, 40);
font-size: 0.8in;
text-align: center;
text-shadow: 5px 5px 6px rgb(0, 0, 0);

}
h2{ padding:5px ;
    font-family: "Monotype corsiva";
    background-color: rgb(0, 0, 0);
color: rgb(255, 255, 255);
font-size: 0.3in;}

nav ,footer 
{display: flex;
width: 100%;
background: grey;

}

nav a,footer a{
color: rgb(255, 255, 255);
background-color: grey;
text-decoration: none;
padding: 10px 10px;
font-size: 0.5cm;
}

video{
    width: 500px;
    height: 250px;
}
.class{margin-left: 330px;
    margin-top: 50px;
   max-width: 100vh;
    height: 50vh;
    border-radius: 60%;}



.flex-align-left{
    margin-left: auto;}

.sm-handle{padding-top: 10px;
        font-size: 20px;
    text-align: center;
      
}
.yt_handle{
    text-decoration: none;
    color: red;
      
}
.fb_handle{
    text-decoration: none;
    color: rgb(38, 0, 255);
     
}
.rtr_handle{
    text-decoration: none;
    background: radial-gradient(#ff0004 50%, #285AEB 50%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;  
  
}
.insta_handle{
    text-decoration: none;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #e64233 45%, #d6249f 60%, #285AEB 90%);
    -webkit-background-clip: text;
                /* Also define standard property for compatibility */
         background-clip: text;
        -webkit-text-fill-color: transparent;
        padding: 15px 5px;
       
}
.button{
padding-left: 10px;
color: black;
}
.button a{
    text-decoration: none;
    font-size: 0.5cm;
    font-family: "algerian";
    color: rgb(0, 0, 0);

padding: 2px 15px;
   }
p{
    padding:10px;
    font-family: "Monotype corsiva";
   
color: rgb(0, 0, 0);
font-size:0.5cm;
}

footer a:hover,nav a:hover{
    background-color: white;
    color: rgb(0, 0, 0);
    font-size: 0.6cm;
    }



.carousel-cell {
    padding: 5px;
     margin-right: 10px;
    text-align: center;
     border-radius: 1px;
     background-color: rgb(255, 255, 255);
     counter-increment: gallery-cell;
   }
   
   /* cell number */
   .carousel-cell:before {
     display: block;
     text-align: ;
     content: counter(gallery-cell);
     
     color: white;
   }
   
 
     @media screen and (max-width: 700px){
     nav {
         flex-direction: column;}
 
       .flex-align-left{
         margin-left: 0;
       }
     }
     